/* RESET CSS */

* {
    padding: 0;
    margin: 0;
}

/* ************ */

/* DIV DIAGONAL */ 

main {
    width: 85.3rem;
    min-width: auto;
    height: auto;
    min-height: 40.55rem;
    background-color: #fff;
    background-image: -webkit-linear-gradient(65deg, #4169E1 50%, #fff 50%);
}

/* ************* */

#container {
    position: absolute;
    right: 10%;
    top: 20%;
}

#container-title { 
    text-transform: uppercase;
    color: #1E90FF;
    font-size: 2rem;
    font-family: 'Inter';
} 

form input {
    font-family: 'Inter';
    margin-top: 1.5rem;
    padding: 0.59rem;
    border-radius: 1.3rem;
    vertical-align: center;
    width: 95%;
}

#btn-access {
    text-transform: uppercase;
    color: #fff;
    background-color: #4169E1;
    width: 30%;
    /* border-color: #4169E1; */
    transition: 0.5s;
}

#btn-access:hover {
    background-color: darkblue;
    border-color: black;
    cursor: pointer;
    transition: 0.5s;
}

#logo img {
    position: absolute;
    top: 30rem;
    left: 1.2rem;
}

#bar-left {
    width: 20%;
    background-color: #4169E1;
}